
//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .modal-popup._js-add-new-card-modal {
        .peach-payments-new-card-form {
            min-height: 375px;
        }

        .note {
            margin-top: 25px;
            font-style: italic;
            font-weight: bold;

            & > span {
                color: @error__color;
            }
        }
    }

    .new-payment-card-wrapper {
        margin: 25px 0;
        button.new-payment-card {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;

            background: @color-white;
            color: @theme__color__primary;

            &:hover,
            &:active,
            &:focus,
            &:visited {
                background: @color-white;
                color: @theme__color__primary;
            }

            img {
                margin-right: 15px;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .modal-popup._js-add-new-card-modal {
        .modal-inner-wrap {
            max-width: 600px;
        }
    }

    .new-payment-card-wrapper .actions-toolbar .primary {
        float: right;
        button.new-payment-card {
            margin-right: 0;
        }
    }
}

//
//  Mobile @screen__m
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .modal-popup._js-add-new-card-modal {
        .modal-content {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .modal-popup._js-add-new-card-modal {
        left: 10px;
    }
}
