//
//  Common
//  _____________________________________________

@import '_add-new-card-popup.less';

& when (@media-common = true) {
    .checkout-payment-method .peach .payment-method-title {
        .lib-css(display, flex, 1);
        .lib-css(align-items, center, 1);
        .lib-css(justify-content, space-between, 1);

        img.payment-icon {
            margin: 0;
        }
    }
}

