<!--
/**
 * @author    X2Y.io Dev Team
 * @copyright Copyright (c) X2Y.io, Inc. (https://x2y.io/)
 */
-->
<div class="payment-method peach" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <div>
            <input type="radio"
                   name="payment[method]"
                   class="radio"
                   data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>

            <label data-bind="attr: {'for': getCode()}" class="label">
                <span class="payment-name" data-bind="text: getTitle()"></span>
            </label>
        </div>

        <!-- ko if: getLogo() -->
        <img class="payment-icon" data-bind="attr: {'src': getLogo() , 'alt': getTitle()}"/>
        <!-- /ko -->
    </div>

    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

<!--        <div class="payment-method-billing-address">-->
<!--            &lt;!&ndash; ko foreach: $parent.getRegion(getBillingAddressFormName()) &ndash;&gt;-->
<!--            &lt;!&ndash; ko template: getTemplate() &ndash;&gt;&lt;!&ndash; /ko &ndash;&gt;-->
<!--            &lt;!&ndash;/ko&ndash;&gt;-->
<!--        </div>-->

<!--        <div class="checkout-agreements-block">-->
<!--            &lt;!&ndash; ko foreach: $parent.getRegion('before-place-order') &ndash;&gt;-->
<!--            &lt;!&ndash; ko template: getTemplate() &ndash;&gt;&lt;!&ndash; /ko &ndash;&gt;-->
<!--            &lt;!&ndash;/ko&ndash;&gt;-->
<!--        </div>-->

        <div id="copy-and-pay-form" data-bind="afterRender: loadOneCLickCheckoutPaymentWidget">
            <!-- ko i18n: 'Loading payment form...' --><!-- /ko -->
        </div>
    </div>
</div>
